<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script  th:inline="javascript">
var prop = /*[[${_csrf.headerName}]]*/'null'
var token = /*[[${_csrf.token}]]*/'null'
$(document).ready(function() {
	console.log('done')
	$('#btn').click(function(e) {
		e.preventDefault()
		var id = $('input[type="text"]').val()
		var pass = $('input[type="password"]').val()
		console.log(id, pass)
		$.ajax({
			url: '/doLogin',
			method: 'POST',
			dataType: 'json',
			headers: {
				'X-CSRF-TOKEN': token
			},
			data: {
				username: id,
				password: pass
			},
			success: function(res) {
				console.log(res)
			},
			error: function(e, a) {
				console.log(e)
				console.log(a)
			}
		})
	})
	
	$('#me').click(function(){
		$.ajax({
			url: '/me',
			method: 'GET',
			success: function(res) {
				console.log(res)
			},
			error: function(e) {
				console.log(e)
			}
		})
	})
})
</script>
</head>
<body>
<h3>LOGIN</h3>
<button id="me">ME</button>
<input type="hidden" value="">
<input type="text" value="test@test.com"><input type="password" value="1234">
<a href="#" id="btn">login</a>
</body>
</html>